Artefact/Digitalisation/01_Start with Chatbot.json
{
    "name": "001-FINAL Dialogflow Message Start Event (don't change!!!)",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 136230,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -255,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook 1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text"
                    },
                    {
                        "name": "queryResult",
                        "spec": [
                            {
                                "name": "queryText",
                                "type": "text"
                            },
                            {
                                "name": "action",
                                "type": "text"
                            },
                            {
                                "name": "parameters",
                                "spec": [
                                    {
                                        "name": "titleCr",
                                        "type": "text"
                                    },
                                    {
                                        "name": "maturityCr",
                                        "type": "text"
                                    },
                                    {
                                        "name": "regionCr",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ideaCr",
                                        "type": "text"
                                    },
                                    {
                                        "name": "linkCr",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fullNameSubmitter",
                                        "type": "text"
                                    },
                                    {
                                        "name": "eMailSubmitter",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "allRequiredParamsPresent",
                                "type": "boolean"
                            },
                            {
                                "name": "fulfillmentText",
                                "type": "text"
                            },
                            {
                                "name": "fulfillmentMessages",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "outputContexts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "parameters",
                                            "spec": [
                                                {
                                                    "name": "no-input",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "no-match",
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "titleCr",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "titleCr.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "maturityCr",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "maturityCr.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "regionCr",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "regionCr.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "ideaCr",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "ideaCr.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "linkCr",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "linkCr.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "fullNameSubmitter",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "fullNameSubmitter.original",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "eMailSubmitter",
                                                    "type": "text"
                                                },
                                                {
                                                    "name": "eMailSubmitter.original",
                                                    "type": "text"
                                                }
                                            ],
                                            "type": "collection"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array"
                            },
                            {
                                "name": "intent",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "displayName",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "intentDetectionConfidence",
                                "type": "number"
                            },
                            {
                                "name": "languageCode",
                                "type": "text"
                            },
                            {
                                "name": "sentimentAnalysisResult",
                                "spec": [
                                    {
                                        "name": "queryTextSentiment",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number"
                                            },
                                            {
                                                "name": "magnitude",
                                                "type": "number"
                                            }
                                        ],
                                        "type": "collection"
                                    }
                                ],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "originalDetectIntentRequest",
                        "spec": [
                            {
                                "name": "source",
                                "type": "text"
                            },
                            {
                                "name": "payload",
                                "spec": [],
                                "type": "collection"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "session",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 274580
            },
            "mapper": {
                "mode": "select",
                "values": {
                    "1": "{{3.queryResult.outputContexts[].parameters.`fullNameSubmitter.original`}}",
                    "2": "{{3.queryResult.outputContexts[].parameters.`eMailSubmitter.original`}}",
                    "3": "{{3.queryResult.outputContexts[].parameters.`ideaCr.original`}}",
                    "4": "{{3.queryResult.outputContexts[].parameters.`linkCr.original`}}",
                    "5": "{{3.queryResult.parameters.maturityCr}}",
                    "6": "{{3.queryResult.parameters.regionCr}}",
                    "8": "{{3.queryResult.outputContexts[].parameters.`titleCr.original`}}"
                },
                "sheetId": "Tabellenblatt1",
                "spreadsheetId": "15mPaGehm32Bxs6qGlBPsQkI-NH1no8703--bKqPQDg8",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select spreadsheet and sheet"
                        },
                        "sheetId": {
                            "label": "Tabellenblatt1"
                        },
                        "spreadsheetId": {
                            "label": "Google Sheet for Dialogflow Start Event"
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Zeitstempel (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Full name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "E-Mail (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Please, describe your idea (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Link  (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Maturity level of the idea (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Established region (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Topic of the innovation (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Please give a short title for your request (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (teamchranz@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Zeitstempel (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Full name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "E-Mail (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Please, describe your idea (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Link  (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Maturity level of the idea (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Established region (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Topic of the innovation (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Please give a short title for your request (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://digibp.herokuapp.com/engine-rest/process-definition/key/EventTillClassifier/tenant-id/chranz/start",
                "data": "{\n\"variables\" : {\n\"sendingtimeCr\" : {\"value\" : \"\", \"type\": \"String\"},\n\"fullNameSubmitter\" : {\"value\" : \"{{3.queryResult.outputContexts[].parameters.`fullNameSubmitter.original`}}\", \"type\": \"String\"},\n\"eMailSubmitter\" : {\"value\" : \"{{3.queryResult.outputContexts[].parameters.`eMailSubmitter.original`}}\", \"type\": \"String\"},\n\"titleCr\" : {\"value\" : \"{{3.queryResult.outputContexts[].parameters.`titleCr.original`}}\", \"type\": \"String\"},\n\"ideaCr\" : {\"value\" : \"{{3.queryResult.outputContexts[].parameters.`ideaCr.original`}}\", \"type\": \"String\"},\n\"linkCr\" : {\"value\" : \"{{3.queryResult.outputContexts[].parameters.`linkCr.original`}}\", \"type\": \"String\"},\n\"maturityCr\" : {\"value\" : \"{{3.queryResult.parameters.maturityCr}}\", \"type\": \"String\"},\n\"regionCr\" : {\"value\" : \"{{3.queryResult.parameters.regionCr}}\", \"type\": \"String\"}\n}}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}